<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="breadcrumbs">
    <a class="section" th:href="@{/dashboard}">Dashboard</a>
</div>

<h1 layout:fragment="title">
    Dashboard
</h1>

<div layout:fragment="content">
    <div class="ui card">
        <div class="content">
            <div class="header">
                Projects
            </div>
            <div class="meta">
                <span th:text="${projects.totalElements}"></span> projects
            </div>
        </div>
        <div class="content">
            <div class="ui middle aligned divided list">
                <div class="item" th:each="project : ${projects}">
                    <div class="content">
                        <a class="header" th:href="@{'/project/' + ${project.id}}" th:text="${project.displayName}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                Activity
            </div>
        </div>
        <div class="content">
            <div class="ui middle aligned divided list">
                <div class="item" th:each="audit : ${auditLog}">
                    <div class="content">
                        <p th:text="${audit.message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>