<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
</head>
<body>

<div layout:fragment="breadcrumbs">
    <a class="section" th:href="@{/dashboard}">Dashboard</a>
    <i class="right chevron icon divider"></i>
    <a class="section" th:href="@{/projects}">Projects</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">New Project</div>
</div>

<h1 layout:fragment="title">
    New Project
</h1>

<div layout:fragment="content">
    <form class="ui form" method="post" th:object="${project}">
        <div class="field">
            <label>Project Name</label>
            <input type="text" name="displayName" th:value="*{displayName}" placeholder="Project Name">
        </div>
        <div class="field">
            <label>Git Url</label>
            <input type="text" name="gitUrl" th:value="*{gitUrl}" placeholder="https://github.com/ChappIO/scriptinator">
        </div>
        <div class="field">
            <label>Commit Id</label>
            <input type="text" name="commitId" th:value="*{commitId}" placeholder="master">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>

</body>
</html>