<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.displayName}"></title>
</head>
<body>

<div layout:fragment="breadcrumbs">
    <a class="section" th:href="@{/dashboard}">Dashboard</a>
    <i class="right chevron icon divider"></i>
    <a class="section" th:href="@{/projects}">Projects</a>
    <i class="right arrow icon divider"></i>
    <div class="active section" th:text="${project.displayName}"></div>
</div>

<h1 layout:fragment="title">
    Project: <span th:text="${project.displayName}"></span>
</h1>

<div layout:fragment="content">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            <td th:text="${project.displayName}"></td>
        </tr>
        <tr>
            <th>Git Repository</th>
            <td>
                <pre th:text="${project.gitUrl}"></pre>
            </td>
        </tr>
        <tr>
            <th>Deployed Commit</th>
            <td>
                <pre th:text="${project.commitId}"></pre>
            </td>
        </tr>
        </thead>
    </table>
    <h2>Actions</h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Function</th>
            <th>Script</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="action : ${project.actions}">
            <td th:text="${action.displayName}"></td>
            <td>
                <pre>project.<span th:text="${action.displayName}"></span>();</pre>
            </td>
            <td>
                <pre th:text="${action.script}"></pre>
            </td>
        </tr>
        </tbody>
    </table>

    <button onclick="deleteProject()" class="ui negative button right floated">
        Delete
    </button>
</div>

<script layout:fragment="script" th:inline="javascript">
    function deleteProject() {
        $.ajax({
            type: 'DELETE',
            success: function () {
                window.location = /*[[@{/projects}]]*/ "/projects";
            }
        })
    }
</script>

</body>
</html>