<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<div layout:fragment="breadcrumbs">
    <a class="section" th:href="@{/dashboard}">Dashboard</a>
    <i class="right arrow icon divider"></i>
    <a class="section" th:href="@{/projects}">Projects</a>
</div>

<h1 layout:fragment="title">
    Projects
</h1>

<div layout:fragment="content">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Project</th>
            <th class="collapsing"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.displayName}"></td>
            <td>
                <a th:href="@{'/project/' + ${project.id}}" class="ui primary icon button">
                    <i class="ui globe icon"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                <a th:href="@{/project}" class="ui positive button right floated">
                    Add
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>