<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navigation" id="navigation" class="ui inverted attached vertical labeled icon menu">
    <div class="item">
        <a th:href="@{/dashboard}">
            <img id="logo" class="ui small image" th:src="@{/assets/logo.png}"/>
        </a>
    </div>
    <a class="item"
       th:href="@{/dashboard}"
       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/dashboard') ? 'active':''}">
        Dashboard
        <i class="dashboard icon"></i>
    </a>
    <a class="item"
       th:href="@{/projects}"
       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/projects') ? 'active':''}">
        Projects
        <i class="server icon"></i>
    </a>
    <a class="item"
       th:href="@{/activity}"
       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/activity') ? 'active':''}">
        Activity
        <i class="warning sign icon"></i>
    </a>
</div>
</body>
</html>